#option-tree-gallery-list li {
    float:left;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;

    padding: 5px;
    margin:5px
}
#option-tree-gallery-list li img {
    display: block
}

#option-tree-attachments-list { overflow: auto; max-height: 350px}

#post .format-setting-inner p{
  width: auto !important;
    padding-right: 15px;
}