/* ------------------------
-----   Typography   -----
------------------------------*/

h1, h2, h3, h4, h5, h6, #menu li a, .post-nav a, .kt-tabs .titles li a {
   font-weight: 700;
   text-transform: uppercase;
   color: #3b3b3b;
}
h1 {
   font-size: 24px;
   line-height: 31px;
   text-align: center;
}
h2 {
   font-size: 20px;
   line-height: 27px;
}
h3 {
   font-size: 17px;
   line-height: 24px;
}
h4 {
   font-size: 14px;
   line-height: 21px;
}
h5 {
   font-size: 12px;
   line-height: 19px;
}
h6 {
   font-size: 10px;
   line-height: 17px;
}
strong {
   font-weight: 700;
}
em {
   font-style: italic;
}

body {
   font: 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
   color: #6b6b6b;
}

blockquote {
   border-left: 3px solid #e9e9e9;
   padding: 10px 0 20px;
}
blockquote > p {
   font-size: 17px !important;
   font-family: Cambria, Georgia, serif;
   font-style: italic;
   margin: 0;
   line-height: 22px;
}

.alignleft {
   float: left;
   margin: 0 10px 10px 0;
}
.alignright {
   float: right;
   margin: 0 0 10px 10px;
}
